body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.music {
  position: absolute;
  right: 250px;
  top: 100px;
}
.music > button {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px lightgray;
  background-color: green;
  font-size: 20px;
}

button.muted {
  background-color: darkgray;
}
